<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 如果需要写入，也添加 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 对于 Android 13 (API 33) 及以上，访问图片等媒体文件可能需要 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 对于 Android 11 (API 30) 及以上，如需更广泛的管理权限，可申请（但上架商店可能受限） -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
</manifest>
